<!DOCTYPE html>
<html lang="en">

<head>
	<title>DGD Creator</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar ">
		<a class="navbar-brand" href="#">
			<div class="logo"><img src="../assets/images/logoFullTransparent.png" height="60" class="d-inline-block align-top"
					alt="mdb logo"></div>
		</a>
		<h1 style="color:white">Dangerous Goods Utility</h1>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a href="/" class="nav-item nav-link active">Home</a>
				<a href="/shipments" class="nav-item nav-link">Shipment Lookup</a>
				<a href="addressbook" class="nav-item nav-link">Address Book</a>
	</nav>

	{{{body}}}

	<!--===============================================================================================-->
	<script src="../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../assets/vendor/select2/select2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
	<!--===============================================================================================-->
	<script src="../js/main.js"></script>
	<script src="../js/logic.js"></script>
</body>

</html>