<!DOCTYPE html>
<html lang="en">

<head>
	<title>DGD Creator</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar ">
		<a class="navbar-brand" href="#">
			<div class="logo"><img src="../assets/images/logoFullTransparent.png" height="60" class="d-inline-block align-top"
					alt="mdb logo"></div>
		</a>
		<h1 style="color:white">Dangerous Goods Document Utility</h1>

	</nav>
	{{{body}}}
</body>

</html>