<div class="bg-contact2">
  <div class="wrap-contact2 ">
    <button class="contact2-form-btn" type="submit" id="addNewLocationBtn">
      Add New Hazmat
    </button>
    <form class="contact2-form col-lg-6" method="POST" action="/api/hazmat">
      <span class="contact2-form-title">
        New Hazmat
      </span>
      <div class="wrap-input2">
        <input class="input2 country" id="custID" name="custID" type="text">
        <span class="focus-input2" data-placeholder="Customer ID"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 country" id="country" name="country" type="text">
        <span class="focus-input2" data-placeholder="Country"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 address1" name="address1" type="text">
        <span class="focus-input2" data-placeholder="Address 1"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 address2" type="text" name="address2">
        <span class="focus-input2" data-placeholder="Address 2"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 city" type="text" name="city">
        <span class="focus-input2" data-placeholder="City"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 zipcode" type="number" name="zipcode">
        <span class="focus-input2" data-placeholder="Zipcode"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 region" type="text" name="region">
        <span class="focus-input2" data-placeholder="State/Province/Region"></span>
      </div>
      <div class="container-contact2-form-btn">
        <div class="wrap-contact2-form-btn">
          <div class="contact2-form-bgbtn"></div>
          <button class="contact2-form-btn" type="submit" id="addNewLocationBtn">
            Add New Hazmat
          </button>
        </div>
      </div>
    </form>