<div class="bg-contact2 d-flex justify-content-center">
  <div class="wrap-contact2 d-flex justify-content-center" style="width:90%;">
    <form class="contact2-form col-lg-3 justify-content-center">
      <span class="contact2-form-title">
        Login
      </span>
      <div class="wrap-input2">
        <input class="input2 unNum" id="unNum" name="email" type="text">
        <span class="focus-input2" data-placeholder="Email"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 name" id="name" name="name" type="text">
        <span class="focus-input2" data-placeholder="Password"></span>
      </div>
      <div class="container-contact2-form-btn">
        <div class="wrap-contact2-form-btn">
          <div class="contact2-form-bgbtn"></div>
          <a href="home">
            <button class="contact2-form-btn" type="button" id="">
              Login
            </button>
          </a>
        </div>
      </div>
    </form>