<div>
  <label>Email</label>
  <input type="text" placeholder="email" name="email"></input>
  <label>Password</label>
  <input type="text" placeholder="password" name="password"></input>
  <button class="btn btn-primary">Login</button>
</div>