<div class="container-contact2-form-btn">
  <div class="wrap-contact2-form-btn">
    <div class="contact2-form-bgbtn"></div>
    <a href="https://www.shippingsolutions.com/blog/how-to-complete-a-dangerous-goods-declaration-without-blowing-up">
      <button class="contact2-form-btn" type="button" id="addNewLocationBtn">
        Ship Dangerous Goods without blowing up
      </button>
    </a>
  </div>
</div>